### Importing packages

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

### Reading csv file

In [2]:
brooklyn_one_bed = pd.read_csv('brooklyn-one-bed.csv')
brooklyn_one_bed.head()

,rental_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,borough
0,2869,3600,3.0,2,900,4,1.0,15,1,0,0,0,0,0,0,0,Williamsburg,Brooklyn
1,4318,3900,3.0,2,1000,4,9.0,8,0,0,0,0,1,0,0,0,Greenwood,Brooklyn
2,6265,2700,2.0,1,900,4,2.0,96,0,0,0,0,0,0,0,0,Gowanus,Brooklyn
3,24,4900,1.0,1,1216,6,3.0,88,0,0,0,0,0,0,0,0,Brooklyn Heights,Brooklyn
4,9481,3900,0.0,1,1100,3,4.0,85,1,0,0,0,0,0,0,0,Williamsburg,Brooklyn

In [3]:
manhattan_one_bed = pd.read_csv('manhattan-one-bed.csv')
manhattan_one_bed.head()

,Unnamed: 0,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,...,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
0,3,2919,76909719,4500,1.0,1,916,2,51.0,29,...,1,0,1,1,1,0,0,Midtown,All Midtown,Manhattan
1,4,2790,92953520,4795,1.0,1,975,3,8.0,31,...,0,0,1,1,1,0,1,Greenwich Village,All Downtown,Manhattan
2,15,1437,66221183,4650,1.0,1,915,5,5.0,106,...,0,0,0,0,0,0,0,Upper East Side,All Upper East Side,Manhattan
3,16,404,17340497,2950,1.0,1,550,43,17.0,14,...,1,0,1,1,0,0,0,Upper East Side,All Upper East Side,Manhattan
4,19,6594,9417041,4875,1.0,1,900,1,14.0,52,...,0,1,1,1,1,0,1,East Village,All Downtown,Manhattan

In [4]:
queens_one_bed = pd.read_csv('queens-one-bed.csv')
queens_one_bed.head()

,Unnamed: 0,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,...,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
0,6,10524,60898078,1950,1.0,1,950,1,3.0,83,...,0,0,0,0,0,0,0,Forest Hills,Central Queens,Queens
1,8,5465,73060494,3500,1.0,1,996,9,7.0,3,...,0,0,0,0,0,0,0,Astoria,Northwest Queens,Queens
2,21,5259,2540088,1725,1.0,1,800,1,2.0,89,...,0,0,0,0,0,0,0,Astoria,Northwest Queens,Queens
3,25,9736,5154242,1700,1.0,1,730,10,3.0,7,...,0,0,0,0,0,0,0,Briarwood,Northeast Queens,Queens
4,59,3545,70847172,3100,1.0,1,787,6,3.0,9,...,1,0,1,1,0,1,0,Long Island City,Northwest Queens,Queens

### Summary Statistics

In [5]:
# Selecting the rent column
brooklyn_price = brooklyn_one_bed['rent']
manhattan_price = manhattan_one_bed['rent']
queens_price = queens_one_bed['rent']

In [6]:
# Finding the mean price of Brooklyn apartments
brooklyn_mean = np.mean(brooklyn_price)
brooklyn_mean

3327.4037512339587

In [7]:
# Finding the mean price of Manhattan apartments
manhattan_mean = np.mean(manhattan_price)
manhattan_mean

3993.4769647696476

In [8]:
# Finding the mean price of Queens apartments
queens_mean = np.mean(queens_price)
queens_mean

2346.2543103448274

In [9]:
# Finding the median price of Brooklyn apartments
brooklyn_median = np.median(brooklyn_price)
brooklyn_median

3000.0

In [10]:
# Finding the median price of Manhattan apartments
manhattan_median = np.median(manhattan_price)
manhattan_median

3800.0

In [11]:
# Finding the median price of Queens apartments
queens_median = np.median(queens_price)
queens_median

2200.0

In [12]:
# Finding the mode price of Brooklyn apartments
brooklyn_mode = stats.mode(brooklyn_price)
brooklyn_mode

ModeResult(mode=array([2500], dtype=int64), count=array([26]))

In [13]:
# Finding the mode price of Manhattan apartments
manhattan_mode = stats.mode(manhattan_price)
manhattan_mode

ModeResult(mode=array([3500], dtype=int64), count=array([56]))

In [14]:
# Finding the mode price of Queens apartments
queens_mode = stats.mode(queens_price)
queens_mode

ModeResult(mode=array([1750], dtype=int64), count=array([11]))